.contact {
  background-color: #f9f4ef;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center !important;
  padding: 2.5% 5%;
  gap: 5%;
}
.large-logo {
  max-width: 50%;
  width: 25%;
  margin: 2.5%;
  border: 3px solid #d0bfa5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Ensure text container doesn't stretch too wide */
.contact-text {
  width: 50%;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .contact-container {
    display: flex;
    flex-direction: row; /* Stack the logo and text vertically */
    gap: 2%; /* Add more space between elements */
    flex-wrap: nowrap;
  }

  .contact-form {
    width: 60%;
  }

  .contact-logo {
    width: 40%;
  }
  .large-logo {
    max-width: 100%;
    width: 40%;
  }
}

@media (max-width: 480px) {
  .contact-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5%;
    gap: 2.5%;
    max-width: 100%;
  }

  .contact-text {
    width: 65%; /* Form takes more space */
  }

  .large-logo {
    margin: 0;
  }

  .contact-form {
    max-width: 70%;
  }

  .contact-logo {
    width: 100%;
  }
}
