.contact {
  background-color: #f9f4ef;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5% 5%;
  gap: 5%;
}
.large-logo {
  max-width: 50%;
  width: 20%;
  margin: 2.5%;
  border: 3px solid #d0bfa5;
}
.contact-text {
  width: 50%;
}
