/* Apply box-sizing to all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}
input:focus, textarea:focus {
  scroll-behavior: smooth;
  overflow: hidden;
  touch-action: none;  /* Prevents touch interaction from causing scroll */
}

.contact-form-container {
  max-width: 600px;
  padding: 20px;
  background: #fefbf9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #d0bfa5;
  margin: 0 auto; /* Center the form on the page */
}

h2 {
  text-align: center;
  font-size: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
}

input,
textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

textarea {
  height: 50px;
  resize: vertical;
}

.button {
  background-color: #fff9f1;
  color: #8f7365;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid #d0bfa5;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.button:hover {
  border: 2px solid #8f7365;
}

/* Flexbox for First and Last Name on the same line */
.form-group-inline {
  display: flex;
  gap: 15px; /* Space between First Name and Last Name */
}

.form-group-inline .form-group {
  flex: 1;
}

.form-group-inline .form-group input {
  width: 100%;
}

/* Responsive Styles */
@media (max-width: 820px) {
  .contact-form-container h2 {
    font-size: 16px;
  }
  .contact-form-container {
    padding: 10px 20px 20px 20px;
  }
  .contact-form-container button {
    padding: 5px 20px;
  }
}
@media (max-width: 480px) {
  .contact-form-container {
    max-width: 100%;
    padding: 10px; /* Reduced padding to make it more compact */
    margin: 0 auto;
  }

  .contact-form h2 {
    margin: 5px 0 10px 0;
  }

  h2 {
    font-size: 16px; /* Smaller heading */
    margin-bottom: 10px;
  }

  .form-group {
    margin-bottom: 10px; /* Less space between form groups */
  }

  .form-group-inline {
    flex-direction: column;
    gap: 0; /* Smaller gap between fields */
  }

  input,
  textarea {
    padding: 4px; /* Reduced padding for smaller height */
    font-size: 13px; /* Slightly smaller text */
  }

  textarea {
    height: 40px; /* Shorter textarea */
  }

  .button {
    width: 100%;
    padding: 6px 12px; /* Smaller button padding */
    font-size: 14px;
  }
}
