/* Apply box-sizing to all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.contact-form-container {
  max-width: 600px;
  padding: 20px;
  background: #fefbf9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #d0bfa5;
  margin: 0 auto; /* Center the form on the page */
}

h2 {
  text-align: center;
  font-size: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

textarea {
  height: 60px;
  resize: none;
}

.button {
  background-color: #fff9f1;
  color: #8f7365;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid #d0bfa5;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.button:hover {
  border: 2px solid #8f7365;
}

/* Flexbox for First and Last Name on the same line */
.form-group-inline {
  display: flex;
  gap: 15px; /* Space between First Name and Last Name */
}

.form-group-inline .form-group {
  flex: 1;
}

.form-group-inline .form-group input {
  width: 100%;
}

/* Responsive Styles */

/* Small Devices (Tablets and Mobile Portrait) */
@media (max-width: 768px) {
  .contact-form-container {
    padding: 15px;
    width: 90%; /* Adjust container width on smaller screens */
  }

  .form-group-inline {
    flex-direction: column; /* Stack name fields vertically on smaller screens */
  }

  .form-group-inline .form-group {
    margin-bottom: 10px;
  }

  input {
    padding: 5px;
  }

  h2 {
    font-size: 14px; /* Adjust header size */
  }
  label {
    font-size: 13px;
  }

  .button {
    font-size: 14px; /* Smaller button text */
    padding: 8px 16px; /* Adjust button padding */
  }
}

/* Extra Small Devices (Mobile) */
@media (max-width: 480px) {
  .contact-form-container {
    padding: 5px 10px;
    width: 95%; /* Increase container width on smaller screens */
  }

  .form-group-inline {
    flex-direction: column; /* Stack fields vertically on mobile */
  }

  .form-group-inline .form-group {
    margin-bottom: 8px;
  }

  .button {
    font-size: 13px; /* Adjust button font size for mobile */
    padding: 6px 12px; /* Adjust button padding */
  }
}
