.footer-container {
  padding: 0 0 !important;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sm-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 18px;
  margin: 5px;
}

.footer-section a {
  color: #8f7365;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  color: #007bff;
}

.social-icons-footer {
  display: flex;
  gap: 15px;
}

.quick-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 2vh;
  margin: 0;
}

.quick-links li {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .footer-section h3,
  .footer-section a,
  .footer-section p {
    font-size: 15px;
  }
}
@media (max-width: 441px) {
  .footer-section h3,
  .footer-section a,
  .footer-section p {
    font-size: 11px;
  }
  .social-icons-footer {
    display: flex;
    gap: 5px;
  }
  .footer-content {
    margin-top: 5px;
  }
}
