.founder {
  background-color: #f9f4ef;
}

.founder-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0% 5%;
  border-bottom: 0.5px solid #d0bfa5;
}

.founder-text {
  max-width: 50%;
}

.maisy {
  max-width: 50%;
  width: 26%;
  margin: 2.5% 0%;
  border: 3px solid #d0bfa5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1210px) {
  .founder-container {
    justify-content: space-between;
  }
  .founder-text {
    margin: 1% 0 1% 2.5%;
    max-width: 70%;
  }
  .founder-text h3, .founder-text h4{
    margin: 10px 0;
  }
  .maisy{
    margin: 0;
  }
}

@media (max-width: 768px) {
  .founder-container {
    padding: 2.5% 2.5%;
    justify-content: center;
    align-items: center;
    gap: 1.5%;
    flex: none;
    float: right;
  }

  .founder-text {
    max-width: 60%;
    float: inline-start;
    overflow-wrap: normal;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 14px;
  }
  p {
    margin: 10px 0;
  }

  .maisy {
    max-width: 45%;
    width: 45%;
    /* margin: 25% 0%; */
    float: right;
  }
}

/* For Mobile Devices */
@media (max-width: 480px) {
  .contact-container {
    padding: 5% 2.5%; /* Increase padding for mobile screens */
  }
}
