.founder {
  background-color: #f9f4ef;
}

.founder-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0% 5%;
  gap: 3%;
  border-bottom: 0.5px solid #d0bfa5;

}
.founder-text {
  max-width: 50%;
}
.maisy {
  max-width: 50%;
  width: 25%;
  margin: 2.5%;
  border: 3px solid #d0bfa5;
}
