.header {
  background-color: #b6a58d;
  max-height: 200px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background: linear-gradient(
    to bottom,
    #e1d3c4 80%,
    rgba(232, 216, 210, 0) 100%
  );
  transition: background 0.3s ease;
  display: flex;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 75px;
}

.logo {
  width: auto;
  height: auto;
  max-width: 120px;
  margin-left: 2.5%;
  border: 2px solid #d0bfa5;
  flex: 1;
}

.book-btn {
  background-color: #fff9f1;
  color: #8f7365;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid #d0bfa5;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex: 3;
}

.book-btn:hover {
  border: 2px solid #8f7365;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 7.5px;
  margin-bottom: 5px;
}

.social-icons i {
  font-size: 20px;
  color: #8f7365;
  transition: color 0.3s ease;
}

.social-icons i:hover {
  color: #b6a58d;
}

.button-card {
  order: 3;
}

/* Small Devices (Tablets) */
@media (max-width: 1024px) {
  .header-container {
    padding: 15px 3%;
  }

  .logo {
    max-width: 100px;
  }

  .book-btn {
    font-size: 14px;
    padding: 8px 16px;
  }

  .social-icons i {
    font-size: 18px;
  }
}

/* Mobile Devices */
@media (max-width: 768px) {
  .header {
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 0;
    padding-top: 10px;
  }

  .header-container {
    flex-direction: column;
    gap: 1px;
  }

  .logo {
    max-width: 100px;
  }

  .book-btn {
    font-size: 14px;
    padding: 5px 10px;
    position: fixed;
    margin: 2.5% 2.5% 0 0;
    top: 0;
    right: 0;
  }
  .logo-card {
    max-width: 120px;
  }

  .social-icons {
    font-size: 0;
    display: none;
  }
}

/* Extra Small Devices */
@media (max-width: 480px) {
  .header {
    background: linear-gradient(
      to bottom,
      #e1d3c4 90%,
      rgba(232, 216, 210, 0) 100%
    );
    padding-bottom: 5%;
  }
  .header-container {
    padding-top: 30px;
    padding: 0;
    gap: 2px;
    padding-top: 3%;
  }

  .logo-card {
    max-width: 100px;
  }
  .logo {
    max-width: 120px;
    margin: 0;
  }
}
