.home {
  padding-top: 80px;
  background-color: #e1d3c4;
}
.home-container {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  padding: 0% 5%;
  gap: 2.5%;
}

.text-content {
  max-width: 50%;
  padding: 2.5%;
}

.candles {
  max-width: 50%;
  width: 30%;
  margin: 2.5%;
  border: 3px solid #d0bfa5;
}
.head {
  font-size: 40px;
  font-weight: bolder;
}
.body {
  font-size: 18px;
}
