.home {
  padding-top: 80px;
  background-color: #e1d3c4;
}
.home-container {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  padding: 0% 5%;
  gap: 2.5%;
}

.text-content {
  max-width: 50%;
  padding: 2.5%;
}

.candles {
  max-width: 50%;
  width: 30%;
  margin: 2.5%;
  border: 3px solid #d0bfa5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.head {
  font-size: 40px;
  font-weight: bolder;
}
.body {
  font-size: 18px;
}

/* Medium Screens (Tablets) */
@media (max-width: 1024px) {
  .home-container {
    flex-direction: column;
  }

  .text-content,
  .candles {
    max-width: 80%;
  }

  .head {
    font-size: 32px;
  }

  .body {
    font-size: 16px;
  }
}

/* Mobile Screens */
@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
    gap: 5px;
    padding: 0%;
    margin-top: 5%;
  }

  .text-content,
  .candles {
    max-width: 95%;
  }
  .candles{
    margin: 0 0 2.5% 0;
  }

  .head {
    font-size: 22px;
    margin: 4% 0%;
  }

  .body {
    font-size: 17px;
    margin: 2.5% 0 0 0;
  }
}

/* Extra Small Devices */
@media (max-width: 480px) {
  .home-container {
    flex-direction: column;
    text-align: center;
    gap: 2px;
    padding-top: 35px;
  }

  .candles {
    /* width: 100%; */
    width: 90%;
  }

  .head {
    font-size: 25px;
    /* padding-top: 5px; */
  }

  .body {
    font-size: 14px;
  }
}
