.home {
  padding-top: 70px;
  background-color: #e1d3c4;
}
.home-container {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  padding: 0% 5%;
  gap: 2.5%;
}

.text-content {
  max-width: 50%;
  padding: 2.5%;
}

.candles {
  max-width: 50%;
  width: 30%;
  margin: 2.5%;
  border: 3px solid #d0bfa5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.head {
  font-size: 40px;
  font-weight: bolder;
}
.body {
  font-size: 18px;
}

/* Medium Screens (Tablets) */
@media (max-width: 1210px) {
  .home-container {
    flex-direction: row;
  }

  .text-content,
  .candles {
    max-width: 80%;
  }

  .text-content {
    padding: 2.5% 0 2.5% 2.5%;
  }

  .head {
    font-size: 32px;
  }

  .body {
    font-size: 16px;
  }
}

@media (max-width: 820px) {
  .text-content,
  .candles {
    max-width: 80%;
  }
  .home-container {
    padding: 2.5% 5% 2.5% 5%;
  }

  .text-content {
    padding: 0;
  }
  .candles {
    margin: 0;
  }

  .head {
    font-size: 25px;
    margin: 15px 0;
  }

  .body {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .home-container {
    flex-direction: column;
    padding: 2.5% 5% 5% 5%;
    gap: 15px;
  }

  .text-content,
  .candles {
    max-width: 100%;
    text-align: center;
  }

  .candles {
    width: 70%;
    margin: 0;
  }

  .head {
    font-size: 22px;
    line-height: 1.4;
  }

  .body {
    font-size: 14px;
  }
}
