.after-images {
  max-height: 550px;
  width: auto;
  max-width: 95%;
}
.image-container {
  background-color: #f9f4ef !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .after-images {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }

  @media (max-width: 480px) {
    .after-images {
      width: 100%;
      height: auto;
      margin: 10px 0;
    }
  }
}
