.after-images {
  max-height: 550px;
  width: 70%;
}
.image-container {
  background-color: #f9f4ef !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .after-images {
    width: 100%; 
    max-height: 700px; 
    height: 300px;
    margin: 10px 0;

}

@media (max-width: 480px) {
  .after-images {
    width: 100%; 
    max-height: 700px; 
    height: 300px;
    margin: 10px 0;

  }
} 
}
