.nav-card {
  display: flex;
  gap: 40px;
}

.nav-card a {
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.nav-card a:hover {
  text-decoration: underline;
  font-weight: bolder;
}
.nav-container a i {
  font-size: 20px;
  margin-left: 10px;
  transition: color 0.3s ease;
}
