.services {
  background-color: #f9f4ef;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5% 5%;
  /* gap: 2.5%; */
  /* border-bottom: 0.5px solid #d0bfa5; */
}
.services-text {
  max-width: 60%;
  padding: 0% 2.5%;
}
.salon {
  width: 110%;
  width: auto;
  margin: 2.5%;
  /* border: 3px solid #d0bfa5; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.services-head {
  font-size: 30px;
}
.services-image {
  text-align: end;
}

@media (max-width: 1210px) {
  .services-container {
    flex-direction: row;
    text-align: space-between;
    gap: 0;
  }

  .services-text {
    max-width: 60%;
    padding: 0% 2.5% 0 0;
  }

  /* .services-text {
    max-width: 80%;
  } */

  .salon {
    width: 80%;
    margin: 0;
    margin-left: 5%;
  }

  .services-head {
    font-size: 28px;
    margin: 10px;
  }
  .services-body {
    margin: 10px;
  }
}

@media (max-width: 820px) {
  .services-container {
    flex-direction: row;
    text-align: space-between;
    gap: 0;
    padding: 0%;
  }
  .salon {
    margin: 5%;
    width: 70%;
  }
  .services-video {
    width: auto;
    max-width: 600px;
    max-height: 300px;
    cursor: pointer;
  }
  .services-head {
    font-size: 25px;
  }
  .services-body {
    font-size: 14px;
  }
  .services-image {
    width: 40%;
  }
  .services-text {
    max-width: 60%;
  }
  .services-container {
    gap: 0%;
  }
}
@media (max-width: 480px) {
  .services-container {
    /* flex-direction: column-reverse; */
    padding: 7.5% 0%;
    gap: 0;
    text-align: center;
  }

  .services-text,
  .salon {
    max-width: 100%;
  }

  .salon {
    width: 100%;
    margin: 0;
  }

  .services-head {
    font-size: 22px;
    line-height: 1.4;
    margin: 0;
  }

  .services-body {
    font-size: 14px;
    margin: 10px 0;
  }

  .services-image {
    width: 100%;
  }
  .services-image {
    width: 35%;
  }
  .services-text {
    max-width: 65%;
  }
}
