.accordion-btn {
  background-color: #f9f4ef;
  padding: 15px;
  color: inherit;
  text-align: left;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #d0bfa5; /* Top border color */
  border-bottom: 1px solid #d0bfa5; /* Bottom border color */
  width: 100%;
}

.accordion-section button:hover {
  border-top: 1.5px solid #d0bfa5;
  border-bottom: 1.5px solid #d0bfa5;
}

.accordion-content {
  padding: 10px;
  border-left: 1px solid #d0bfa5;
  border-right: 1px solid #d0bfa5;
  background-color: #fefbf9; /* White background */
}
.accordion-content p {
  margin: 10px;
}

.accordion-icon {
  margin-left: 10px;
}
.accordion-content.aesthetic-open {
  border-bottom: 1px solid #d0bfa5; /* Add bottom border when open */
}

/* Medium Screens (Tablets) */
@media (max-width: 1024px) {
  .accordion-btn {
    font-size: 14px;
    padding: 12px;
  }

  .accordion-content {
    padding: 8px;
  }
}

/* Mobile Screens */
@media (max-width: 768px) {
  .accordion-btn {
    font-size: 14px;
    padding: 10px;
  }

  .accordion-content {
    padding: 6px;
  }
  .accordion-content-p {
    font-size: 12px;
  }

  .accordion-icon {
    font-size: 18px;
  }
}

/* Extra Small Devices */
@media (max-width: 480px) {
  .accordion-btn {
    font-size: 14px;
    padding: 8px;
  }

  .accordion-content {
    padding: 5px;
  }

  .accordion-icon {
    font-size: 16px;
  }
}
