body {
  background-color: #f9f4ef;
  color: #8f7365 !important;
  font-family: 'Georgia', serif; /* Elegant and soft */
  /* overflow-x: hidden; */
  max-width: 100%;
}

/* * {
  box-sizing: border-box;
  max-width: 100vw;
}

html,
body {
  overflow-x: hidden; 
  max-width: 100%;
  height: 100%;
  position: fixed; 
  overscroll-behavior: contain; 
} */
