body {
  background-color: #f9f4ef;
  color: #8f7365 !important;
  font-family: 'Georgia', serif; /* Elegant and soft */
  overflow-x: hidden;
  max-width: 100%;
}
input:focus, textarea:focus {
  scroll-behavior: smooth;
  overflow: hidden;
  touch-action: none;  /* Prevents touch interaction from causing scroll */
}
